<div class="footer">
  <div>
    <a class="logo_icon" href="https://github.com/thuyn789" target="_blank">
      <img src="./assets/github_icon.png" alt="Github" />
    </a>
    <a
      class="logo_icon"
      href="https://www.linkedin.com/in/thuynh0135"
      target="_blank"
    >
      <img src="./assets/linkedin_logo.png" alt="LinkedIn" />
    </a>
  </div>
  <div class="footer-contact">
    <p>
      &copy; 2021 Tin Huynh | Designed and Made by
      <a href="mailto:thuynh0135@gmail.com" class="email">Tin Huynh</a> | Hosted
      on
      <a href="https://github.com/" target="_blank">GitHub</a>
    </p>
  </div>
</div>
