<div class="container">
  <h3>SCHOOLS</h3>
  <ul>
    <li>
      <a href="https://www.gsu.edu/" target="_blank">
        Georgia State University
      </a>
      <ul>
        <li>Bachelor of Science in Computer Science</li>
        <li>Software Engineering</li>
        <li>
          Honors: Summa Cum Laude | Distinction in Major, President’s List,
          Dean’s List
        </li>
        <li>August 2019 – August 2021</li>
        <li>Atlanta, GA</li>
      </ul>
    </li>

    <li>
      <a href="https://ost.edu/" target="_blank"> Oblate School of Theology </a>
      <ul>
        <li>Master of Divinity in Theology</li>
        <li>August 2017 – August 2018</li>
        <li>San Antonio, TX</li>
      </ul>
    </li>

    <li>
      <a href="https://www.stjohns.edu/" target="_blank">
        St. John's University
      </a>
      <ul>
        <li>Bachelor of Arts in Philosophy</li>
        <li>Minor: Theology</li>
        <li>Honors: Magna Cum Laude | Dean’s List</li>
        <li>August 2014 – May 2016</li>
        <li>New York City, NY</li>
      </ul>
    </li>

    <li>
      <a href="https://perimeter.gsu.edu/" target="_blank">
        Georgia Perimeter College
      </a>
      <ul>
        <li>Associate of Science in Computer Science</li>
        <li>Honors: High Honor | Dean’s List, STEM Awards</li>
        <li>August 2011 – May 2014</li>
        <li>Clarkston, GA</li>
      </ul>
    </li>
  </ul>
  <br />

  <h3>SUMMARY OF SKILLS</h3>
  <ul>
    <li>
      Language
      <ul>
        <li>C/C++</li>
        <li>Java</li>
        <li>Assembly</li>
        <li>Haskell</li>
        <li>Flutter - Dart</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
        <li>Javascript</li>
        <li>Angular - TypeScript</li>
      </ul>
    </li>

    <li>
      Framework
      <ul>
        <li>Agile/Scrum/Zenhub</li>
        <li>JavaFX</li>
        <li>Angular</li>
        <li>Flutter</li>
      </ul>
    </li>

    <li>
      Cloud
      <ul>
        <li>Firebase</li>
        <li>some knowledge about Azure and AWS</li>
      </ul>
    </li>

    <li>
      Networking
      <ul>
        <li>OpenWRT</li>
        <li>LAN</li>
        <li>DNS</li>
        <li>VPN</li>
        <li>Firewall</li>
      </ul>
    </li>

    <li>
      Tools
      <ul>
        <li>Git</li>
        <li>Regex</li>
        <li>VMWare</li>
        <li>VirtualBox</li>
      </ul>
    </li>
  </ul>
  <br />
</div>
