<div class="container main_box">
  <img id="profile_photo" src="./assets/pic1.jpg" alt="My Photo" />
  <h1>Tin Huynh</h1>
  <h4>Software Engineer</h4>
  <p>Thank you for visiting my page. I hope you will have a good day.</p>

  <a class="logo_icon" href="https://github.com/thuyn789" target="_blank">
    <img src="./assets/github_icon.png" alt="Github" />
  </a>
  <a
    class="logo_icon"
    href="https://www.linkedin.com/in/thuynh0135"
    target="_blank"
  >
    <img src="./assets/linkedin_logo.png" alt="LinkedIn" />
  </a>
</div>
<br /><br />
