<div class="container">
  <h3>PROJECTS</h3>
  <ul>
    <li>
      Build a networking system for Windows and Linux using OpenWRT and cascade
      technique
    </li>
    <li>
      Develop a simple, functional Student Database Management System using C
      language
    </li>
    <li>Develop a simple Autocomplete model in Java</li>
    <li>Develop a computer simulation for Monte Carlo Method in Java</li>
    <li>Develop a personal homepage using html and css</li>
    <li>Develop a prototype of poker card game using html and css</li>
    <li>Develop hidden object game using html, css, and php</li>
    <li>
      Collaborate and develop Baby Buddy app, which helps prevent such events
      that parents forget their babies in their cars for extended period of
      time, using Agile framework, Firebase, and Android Studio
    </li>
  </ul>
  <br />

  <h3>RESEARCH EXPERIENCE</h3>
  <ul>
    <li>Reaction paper on Thomas Hobbes' Leviathan</li>
    <li>Reaction paper on John Stuart Mill's Harm Principle</li>
    <li>
      Discussion paper on Augustine's Confessions and Boethius' The Consolation
      of Philosophy
    </li>
    <li>
      Comparison-Contrast paper on Marx's Economic and Philosophical Manuscripts
      of 1844 and Arendt's The Human Condition
    </li>
    <li>
      Seminar paper on Heidegger's The Question Concerning Technology and Being
      and Time
    </li>
  </ul>
  <br />
</div>
